<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WareHouseRelic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <WareHouseRelic.Properties.Settings>
            <setting name="PathBackupDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="PathDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="PathExportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeBetweenBackups" serializeAs="String">
                <value>0</value>
            </setting>
        </WareHouseRelic.Properties.Settings>
    </userSettings>
</configuration>
